version: '3.8'

services:
  vigilante:
    build: .
    container_name: mi-contenedor-vigilante
    volumes:
      - ./logs:/var/log
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

  webserver:
    image: nginx:alpine
    container_name: mi-contenedor-nginx
    ports:
      - "80:80"
    volumes:
      - ./logs:/var/log/app_logs:ro
      - ./nginx_conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - vigilante
